* {
  box-sizing: border-box;
}

:root {
  --primary-color: 234, 255, 130;
  --secondary-color: 192, 209, 107;
  --tertiary-color: 44, 84, 47;
  --gray-color: 247, 247, 247;
  --black-color: 29, 29, 31;
  --orange-color: 209, 126, 107;
  --border-radius: 25px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  // letter-spacing: -0.09em;
  line-height: 1.25;
  font-weight: 400;
  color-scheme: light dark;
  //background-color: rgb(var(--primary-color));
  color: rgb(var(--tertiary-color));
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-color-scheme: dark) {
    // --secondary-color: 255, 255, 255;
    // --primary-color: 27, 27, 27;
    // background-color: rgb(var(--primary-color));
    // color: rgb(var(--secondary-color));
  }
}

body {
  margin: 0;

  &.no-scroll {
    overflow: hidden;
  }
}