.button {
  display: inline-block;
  background: #EAFF82;
  color: rgb(var(--tertiary-color));
  box-shadow: 0 1px 0 0 #C0D16B, inset 0 1px 3px 0 rgba(255, 255, 255, 0.50);
  border-radius: 19px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  box-shadow: none;
}

.button--centered {
  display: block;
  justify-self: center;
}