.container {

  .section {
    padding: 25px 0;
    text-align: center;
    width: 95%;
    max-width: 600px;
    margin: 0 auto;

    +.section {
      border-top: 1px solid rgba(var(--gray-color), 1);
    }

    > p {
      font-size: 14px;
    }
  }

  .places {
    height: auto;
    grid-template-columns: repeat(2, 1fr)
  }

  .sectionMetaNav {
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }

  :global(.banner) {
    margin-top: 20px;
  }
}