.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 25px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.container h2 {
  color: #535a42;
  line-height: 1.25;
}

.container p {
  color: #272727;
}