.popup {
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

.popup .coverPhotoContainer {
  height: 150px;
}

.popup img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}

.popup p {
  margin: 0 20px;
  line-height: 1;
}

.popup .placeName {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}

.modal {
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 50%;
  height: calc(100dvh - 40px);
  background: white;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  position: absolute;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 10px;
  opacity: 1;
  overflow: hidden;
}

@media (max-width: 768px) { 
  .modal {
    position: fixed;
    box-sizing: border-box;
    top: 100px;
    height: calc(100dvh - 100px);
    width: calc(100% - 20px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.closeIcon {
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

@media (max-width: 768px) { 
  .closeIcon {
    position: fixed;
    top: 110px;
    right: 20px;
  }
}

.pin, .globe {
  filter: invert(1);
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.globe {
  filter: invert(0);
  height: 22px;
  left: 2px;
  top: 1px;
}

.modalContent {
  box-sizing: border-box;
  padding-bottom: 0;
  padding-right: 40px;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: scroll;
}

.modalContent h2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20%;
  font-size: 36px;
  line-height: 1.25;
  color: #535a42;
}

.modalContent h3 {
  text-transform: uppercase;
  color: #535a42;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.modalContent p + p {
  margin: 0;
  margin-top: 15px;
}

.modalContent .meta {
  margin: 5px 0;
  position: relative;
  padding-left: 35px;
  font-size: 14px;
}

.modalContent .meta + .meta {
  margin-top: 10px;
}

.modalContent .description {
  margin-top: 25px;
  border-top: 1px solid #535a42;
}

.modal.open {
  transform: translateX(0);
}

.carousel {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}